version: "3.8"

services:
  perplexity-proxy:
    # 替换为你的 GitHub 镜像地址
    image: ghcr.io/cloudrobot/perplexity-ai:latest
    container_name: perplexity-api
    restart: unless-stopped
    ports:
      - "15001:8000"
    environment:
      - PPLX_API_TOKEN=${PPLX_API_TOKEN}
      - PPLX_ADMIN_TOKEN=${PPLX_ADMIN_TOKEN}
      # SOCKS 代理配置 (可选)，如果是在perplexity不可用的地区是必选
      # 格式: socks5://[user[:pass]@]host[:port][#remark]
      # - HTTPS_PROXY=${SOCKS_PROXY:-}
      # - HTTP_PROXY=${SOCKS_PROXY:-}
    volumes:
      # 挂载配置文件 ,配置文件需要和docker-compose.yml放在同一目录下或者修改配置文件的绝对路径
      - ./token_pool_config.json:/app/token_pool_config.json:ro